/* Soluzione qui */

/* -- Bonus, Modalità Large Mobile (576px) --

l'immagine nella descrizione della ricetta viene circondata dal testo anche su mobile ma solo se c'è spazio sufficiente, quindi a partire da 576px,
I bottoni social si allagano già su dispositivi mobile più grandetti (576px),

Info,
Il font utilizzato per il titolo è: 'Nerko One', cursive;,
Il font per il resto della pagina è: Montserrat, 'Helvetica Neue', sans-serif;,
L'indirizzo del video YT utilizzato è https://www.youtube.com/watch?v=JVT900H6s0g,
*/

@media screen and (min-width: 576px) {}


/* -- Modalità Tablet (sopra i 768px) --

x - Il logo nell'header si allinea a sinistra,
x - Il padding del contenuto principale della pagina aumenta,
x - Compare il testo "(Dolce Tradizionale)",
x - La grandezza del titolo diventa più grande,
x - Le informazioni della ricetta sotto il video si dispongono a griglia,
x - I bottoni social si allargano,
x - compare il banner pubblicitario,
x - l'immagine nella descrizione della ricetta viene circondata dal testo,
*/

@media screen and (min-width: 768px) {

    #topbar {
        justify-content: flex-start;
    }

    main {
        padding: 40px;

        .recipe-title {
            font-size: 24px;
        }

        .recipe-origin {
            display: inline-block;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            li {
                flex-basis: calc(100% / 3 - (15px * 2) / 3);
            }
        }

        .ads {
            display: block;
        }

        .social-networks {
            .btn {
                padding: 10px 40px;
            }
        }

        .presentation img {
            float: inline-start;
            padding: 1rem;
        }
    }


    /* -- Modalità Desktop (sopra i 992px) --

x - La grandezza el titolo della ricetta aumenta ancora di più,
x - Le informazioni della ricetta tornano a disporsi una sotto l'altra,
- Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro,
x - Compaiono i nomi delle piattaforme social,
- Nel footer i dati del sito e il menu di navigazione di dispongono sulla stessa linea ma su lati opposti,
*/

    @media screen and (min-width: 992px) {

        #topbar {
            justify-content: flex-start;
        }

        main {
            padding: 40px;

            .recipe-title {
                font-size: 34px;
            }

            .recipe-origin {
                display: inline-block;
            }

            .ads {
                display: block;
            }

            .social-networks {
                .btn {
                    padding: 10px 40px;
                }
                .label {
                    display: inline-block;
                }
            }

            .presentation img {
                float: inline-start;
                padding: 1rem;
            }
        }

    }