/* Soluzione qui */


@media screen and (min-width: 576px) {

    .social-networks {
        .btn {
            padding: 10px 40px;
        }
    }

    .presentation img {
        float: inline-start;
        padding: 1rem;
    }


}

@media screen and (min-width: 768px) {

    #topbar {
        justify-content: flex-start;
    }

    main {
        padding: 40px;

        .recipe-title {
            font-size: 24px;
        }

        .recipe-origin {
            display: inline-block;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            li {
                flex-basis: calc(100% / 3 - (15px * 2) / 3);
            }
        }

        .ads {
            display: block;
        }

        .social-networks {
            .btn {
                padding: 10px 40px;
            }
        }

        .presentation img {
            float: inline-start;
            padding: 1rem;
        }
    }

    @media screen and (min-width: 992px) {

        #topbar {
            justify-content: flex-start;
        }

        main {
            padding: 40px;

            .recipe-title {
                font-size: 34px;
            }

            .recipe-origin {
                display: inline-block;
            }

            .recipe-card {
                display: flex;

                /* aprire tickert e verificare - Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro */

            }

            .ads {
                display: block;
            }

            .social-networks {
                .btn {
                    padding: 10px 40px;
                }

                .label {
                    display: inline-block;
                }
            }

            .presentation img {
                float: inline-start;
                padding: 1rem;
            }
        }

        footer {
            display: flex;
            justify-content: space-between;

            address {
                text-align: start;

            }
        }